---
layout: layout.liquid
title: Random Name Generator
---

<div x-data="{names: ['kenzi', 'abbey', 'kahri', 'veronica', 'brad', 'crystal', 'chloe', 'johnny', 'tracy', 'mike'], random: ' '}">
    <h1 x-text="random"></h1>
    <button @click="random = names[Math.floor(Math.random()*names.length)];">generate a name</button>
</div>